body {
        background-image: url(Backgrounds/paper.png);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        margin-left: 7%;


     }